:root{
	--color-white: #fff;
	--color-dark1: #181818;
	--color-dark2: #1e1e1e;
	--color-purple1: #9333FF;
	--color-purple2: indigo;
	--color-red: #EF2828;
	--color-red2: #ff00dda4;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--color-dark1);
	color: var(--color-white);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 150px 5px;
}

#container {
	background-color: var(--color-dark2);
	padding: 3rem;
	border-radius: 10px;
	width: 600px;
	overflow: auto;
}

.conteudo-titulo, .conteudo-subtitulo {
	text-align: center;
	padding-bottom: 1rem;
}

.conteudo-subtitulo {
	color: var(--color-red);
}

#container #campo-scripts{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#caixa-script {
	display: flex;
	justify-content: center;	
}

#campo-script-copiar {
	overflow: auto;
	width: 100%;
	height: 250px;
	margin: 10px;
	padding: 1em;
	font-size: 12px;
	background-color: var(--color-dark1);
	border: 1px solid var(--color-red);
	color: var(--color-white);
	outline: none;
	transition: 0.9s;
}

#campo-script-copiar div{
	display: none;
}

#campo-script-copiar:hover {
	border: 1px solid var(--color-red2);
	transition: 0.9s;
	outline: none;
}

select {
	border-radius: 6px;
	padding: 3px;
	width: 320px;
	outline: none;
}

.script17.box table {
	width: 100%;
	border-spacing: 0px;
}

#botao {
	display: flex;
	padding: 5px;
	justify-content: center;
	align-items: center;
}

.script17.box table td {
  border-bottom: 1px solid var(--color-purple2);
}

button{
	padding: 7px;
	width: 7rem;
	font-size: 1rem;
	border: none;
	border-radius: 6px;
	background-color: var(--color-purple1);
	color: var(--color-white);
	cursor: pointer;
	transition: .3s;
}

button:hover {
	background-color: var(--color-purple2);
}

input[type='checkbox'] {
	display: none;
}

.lbl-toggle {
	display: block;
	width: 310px;
	padding: 4px;
	font-size: 13px;
	color: var(--color-dark1);
	background: var(--color-white);
	cursor: pointer;
	border-radius: 7px;
	transition: all 0.25s ease-out;
	border: 1px solid var(--color-dark1);
}

.collapsible-content {
	max-height: 0px; 
	overflow: hidden;
	transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 350px;
}

.collapsible-content .content-inner {
	background: var(--color-dark1);
	border-radius: 7px;
	padding: 7px 15px;
	width: 288px;
	border: 1px solid var(--color-dark1);
	border-top: none;
}

.content-inner a {
	text-decoration: none;
	color: var(--color-white);
}

a:visited {
	color: var(--color-white);
}

a:hover {
	color: var(--color-red);
}

/* RESPONSIVIDADE*/

@media screen and (max-width: 650px) {

	body {
		background-color: var(--color-dark2);
		margin: 50px 5px;
	}

	#campo-script-copiar {
		height: 150px;
	}
}
