:root{
	--color-white: #fff;
	--color-dark1: #181818;
	--color-dark2: #1e1e1e;
	--color-purple1: #9333FF;
	--color-purple2: indigo;
	--color-purple3: #ff00dda4;
	--color-grey: grey;
	--color-red: #EF2828;
	--color-red2: #ff6a6a;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--color-dark1);
	color: var(--color-white);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 150px 5px;
}

#container {
	background-color: var(--color-dark2);
	padding: 3rem;
	border-radius: 10px;
	width: 600px;
	overflow: auto;
}

.conteudo-titulo, .conteudo-subtitulo {
	text-align: center;
	padding-bottom: 1rem;
}

.conteudo-subtitulo {
	color: var(--color-red);
}

.conteudo-subtitulo#conteudo-subtitulo-page2 {
	color: var(--color-white);
}

.conteudo-titulo a {
	text-decoration: none;
	color: var(--color-white); 
}

.conteudo-titulo a:visited {
	text-decoration: none;
	color: var(--color-white); 
}

#container #campo-scripts{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.caixa-script {
	display: flex;
	justify-content: center;	
}

.caixa-script#caixa-script-page2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.campo-script-copiar {
	overflow: auto;
	width: 100%;
	height: 250px;
	margin: 10px;
	padding: 1em;
	font-size: 12px;
	background-color: var(--color-dark1);
	border: 1px solid var(--color-red);
	color: var(--color-white);
	outline: none;
	transition: 0.9s;
}

.campo-script-copiar#campo-script-copiar-page2 {
	overflow: auto;
	width: 49%;
	height: 120px;
	margin: 0px;
	margin-right: 5px;
	padding: 1em;
	font-size: 12px;
}

.campo-script-copiar div{
	display: none;
}

.campo-script-copiar:hover {
	border: 1px solid var(--color-purple3);
	transition: 0.9s;
	outline: none;
}

.campo-script-copiar#campo-script-copiar-page2:hover {
	border: 1px solid var(--color-red2);
	transition: 0.9s;
	outline: none;
}

select {
	border-radius: 6px;
	padding: 3px;
	width: 320px;
	outline: none;
}

.script17.box table {
	width: 100%;
	border-spacing: 0px;
}

.botao {
	display: flex;
	padding: 5px;
	justify-content: center;
	align-items: center;
}

.botao#botao-page2 {
	display: inline;
}

.script17.box table td {
  border-bottom: 1px solid var(--color-grey);
}

button{
	padding: 7px;
	width: 7rem;
	font-size: 1rem;
	border: none;
	border-radius: 6px;
	background-color: var(--color-purple1);
	color: var(--color-white);
	cursor: pointer;
	transition: .3s;
}

.botao#botao-page2 button {
	padding: 6px;
	font-size: 12px;
	background-color: var(--color-red);
	color: var(--color-white);
}

button:hover {
	background-color: var(--color-purple2);
}

.botao#botao-page2 button:hover {
	background-color: var(--color-red2);
}

input[type='checkbox'] {
	display: none;
}

.lbl-toggle {
	display: block;
	width: 310px;
	padding: 4px;
	font-size: 13px;
	color: var(--color-dark1);
	background: var(--color-white);
	cursor: pointer;
	border-radius: 7px;
	transition: all 0.25s ease-out;
	border: 1px solid var(--color-dark1);
}

.collapsible-content {
	max-height: 0px; 
	overflow: hidden;
	transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 350px;
}

.collapsible-content .content-inner {
	background: var(--color-dark1);
	border-radius: 7px;
	padding: 3px 10px;
	width: 298px;
	border: 1px solid var(--color-dark1);
	border-top: none;
}

.content-inner a {
	text-decoration: none;
	color: var(--color-white);
}

a:visited {
	color: var(--color-white);
}

a:hover {
	color: var(--color-red);
}

.rodape-page2 {
	margin-top: 60px;
	font-size: 13px;
}

.rodape-page2 a {
	text-decoration: none;
	color: var(--color-red);
}

.rodape-page2 a:visited {
	text-decoration: none;
	color: var(--color-red);
}

.rodape-page2 a:hover {
	color: var(--color-red2);
}

#alert-texto {
	visibility: hidden;
  	min-width: 250px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	top: 30px;
	font-size: 17px;
}

#alert-texto.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {top: 0; opacity: 0;} 
	to {top: 30px; opacity: 1;}
}
  
@keyframes fadein {
	from {top: 0; opacity: 0;}
	to {top: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
	from {top: 30px; opacity: 1;} 
	to {top: 0; opacity: 0;}
}
  
@keyframes fadeout {
	from {top: 30px; opacity: 1;}
	to {top: 0; opacity: 0;}
}

/* RESPONSIVIDADE*/

@media screen and (max-width: 650px) {

	body {
		background-color: var(--color-dark2);
		margin: 50px 5px;
	}

	.campo-script-copiar {
		height: 150px;
	}

	.caixa-script#caixa-script-page2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.campo-script-copiar#campo-script-copiar-page2 {
		overflow: auto;
		width: 80%;
		margin: 0px;
	}

	.botao#botao-page2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

}
